* {
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    scroll-behavior: smooth;
    /*font-family: 'Roboto Slab', serif; para los artículos*/
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/** nav **/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    height: 120px;
    background-color: #e7ebec;
    font-family: 'Poppins', sans-serif;

}

 a {
    text-decoration: none;
}

/*header logo*/

.header__name {
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
}

.header__logo {
    font-size: 38px;
}

.header__logo > span {
    color: #db4084;
}

/*header list */
.list {
    text-align: left;
}

.list lu {
    display: flex;
    justify-content: space-between;
}

.list li {
    display: inline-block;
    padding: 0px 40px;
}

.list a {
    line-height: 30px;
    font-weight: 500;
    transition: .8s;
}

.list a:hover{
    color: #db4084;
}

.category {
    font-style: italic;
    font-weight: 300;
}

.category::after {
    border-bottom: 1px solid #2c2c2c;
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    padding-bottom: 5px;
}

/*header icon*/
.header__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__icon i {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.header__icon i:hover {
    color: #db4084;
    transform: scale(1.2);
}

/** end nav **/

/** principal img - grid **/

.container__item{
    display: grid;
    grid-gap: 2px;
    grid-auto-rows: minmax(300px, auto);
    height: 906px;
    margin: 0 auto;
    grid-template-areas:
    "img-1 img-1 img-1 img-2"
    "img-3 img-3 img-4 img-4";
    max-width: 1440px;
    font-family: 'Poppins', sans-serif !important;
}

.item {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-1,
.img-2 {
    object-fit: cover;
}

.img-1{
    grid-area: img-1;
    
}

.img-2{
    grid-area: img-2;
    justify-content: flex-start !important;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

/* texto sobre img - zelda y cyberpunk */

.img__item{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    position: relative;
}

.category__img {
    color: #fff;
    font-size: 16px;
    position: absolute;
    padding: 5px 10px;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #db4084;
    font-weight: 500;
}

.content__item {
    position: absolute;
    padding: 20px;
    max-width: 50%;
}

.inside__img-1 {
    font-size: 65px;
    line-height: 1.4;
    color: #002b48;
    font-weight: 700;
}


.inside__img-2 {
    font-size: 40px;
    color: #FFF;
    font-weight: 700;
    -webkit-text-stroke: .1px #371b96;
    font-style: italic;
}

/* texto sobre img - the last of us */
.item_2 {
    left: 0;
    right: inherit;
}

.inside_items-juntos {
    font-size: 45px;
    line-height: 1.4;
    color: #fff;
    font-weight: 700;
}

.inside__img-3 {
    text-align: left;
}

.derecha_item-4 {
    display: block;
    right: 0 !important;
    text-align: right;
    max-width: 60%;
}

/** article content **/


.grid__front-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    padding: 80px 30px 0;
    margin: 0 auto;
}

.pagination__content{
    flex: 0 0 774px;
    font-family: 'Noto Sans JP', sans-serif;
}

.front-page__left{
    border-bottom: 1px solid #9b9b9b;
    display: flex;
    padding: 26px 0;
}


.entry__img{
    display: block;
    flex: 0 0 240px;
    margin-right: 22px;
    width: 240px;
    height: 240px;
}

.entry__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.entry__number {
    background-color: #db4084;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    min-width: 15px;
    padding: 0 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.entry__subtitle {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 19px;
    margin: 8px 40px 10px 0;
}

.entry__title {
    font-size: 20px;
    line-height: 28.6px;
    width: 90%;
    font-weight: 700;
}

.entry__info {
    font-size: 16px;
    line-height: 24px;
    max-width: 80%;
    font-weight: 300;
}

.entry__footer{
    color: #9b9b9b;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 200;
}

/** aside **/
.front-page__right {
    flex: 0 0 346px;
    padding-bottom: 60px;
    margin-left: auto;
    
}

.podcast {
    margin-bottom: 200px;
}

.mini-entry {
    margin: 26px 0;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 77.5%;
    width: 100%;
    bottom: auto;
    top: 0;
}

.mini-entry img {
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.mini-entry__text {
    position: absolute;
    padding: 20px;
    bottom: auto;
    z-index: 2;
}

.mini-entry__text a {
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.front-page__block  h3 {
    border-top: 1px solid #9b9b9b;
    color: #db4084;
    content: "";
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 16px 0;
}

.mini-entry__more-link {
    color: #db4084;
    display: block;
    text-align: right;
    font-size: 13px;
}

.text-aside {
    bottom: 0;
    padding: 30px;
    position: absolute;
}

.text-aside h3{
    border-top: none;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Noto Sans JP', sans-serif;
}

.text-aside h2 {
    font-size: 24px;
    line-height: 26.4px;
    margin: 0;
    font-weight: 500;
    color: #fff;
    -webkit-text-stroke: .2px #2c2c2c;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 2px;
}

/** monografico **/

.container-mono {
    margin-left: calc(590px - 50vw);
    margin-right: calc(184px - 50vw);
    width: 99.37vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.inner {
    display: block;
    padding: 50px 60px;
}

.img__monografico{
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.img__monografico img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    display: block;
}

.inside__monografico {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

.content-right {
    margin-left: auto;
    max-width: 50%;
    margin-top: 60px;
    color: #fff;
}

.subtitle{
    color: #d498d4;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.info{
    line-height: 26.4px;
    color: #fff;
}

.arts {
    display: flex;
    margin-top: 90px;
}

.arts .art {
    border-right: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    flex: 1;
}

.art-border{
    border-right: none !important;
}

.art > a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 10px;
}

.sb{
    color: #db4084 !important;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.tt{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}


.icon-arts {
    color: #fff;
    font-size: 30px !important;
    font-weight: 200 !important;
}

/** articles second page**/

.grid__front-page-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    padding: 70px 30px 0;
    margin: 0 auto;
}

.pagination__content-2{
    flex: 0 0 774px;
    font-family: 'Noto Sans JP', sans-serif;
}

/** see more **/

.site__more-link {
    background-color: #e7ebec;
    margin-top: 90px;
}

.site__more-link > .more-link {
    cursor: pointer;
    padding: 60px 60px;
    text-align: left;
}

.btn-see {
    color: #db4084;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    border: none;
    background-color: transparent;
}

/** articles more link**/
.grid__front-page-3 {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;   
}

.pagination__content-3{
    flex: 0 0 774px;
    font-family: 'Noto Sans JP', sans-serif;
}


/** ranking **/

.ranking {
    margin-bottom: 100px;
}

.ranking-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 100px;
}

.ranking-grid {
    width: 46%;
    max-width: 50%;
    padding-left: 25px;
    padding-right: 15px;
    display: block;
    position: relative;
    flex: 1 1 auto;   
}

.ranking__title span{
    color: #db4084;
}

.ranking-grid h2, h3{
    font-weight: 700;
    margin: 0 0 12px 0;
    font-size: 24px;
    line-height: 24px;
}

.ranking__tabs{
    display: block;
    padding: 16px 0 0 0;
}

.ran__item{
    position: relative;
    display: block;
    z-index: 0;
    padding: 16px 0 0 97px;
    border-bottom: 1px solid #e7ebec;
    min-height: 114px;
    overflow: hidden; 
}

.ran__item:hover > .ran__item-img {
opacity: .3;
}

.ran__item:hover > .ran__item-num {
    background-color: #db4084;
    color: #fff;
    border: none;
}

.ran__item-img {
position: absolute;
left: -6%;
height: 100%;
width: 112%;
top: 0;
z-index: -1;
opacity: 0;
transition: all .4s ease-in-out;
}


.ran__item-img img {
object-fit: cover;
height: 100%;
width: 100%;
}

.ran__item-num {
    position: absolute;
    z-index: 1;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;
    top: 16px;
    left: 0;
    color: #999;
    font-weight: 700;
    text-align: center;
    line-height: 74px;
    font-size: 24px;
    transition: all .4s ease-in-out;
    margin-left: 5px;
}


.ran__item-plat{
    color: #db4084;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: .3px;
    line-height: 14px;
    margin: 0 0 8px 0;
}

.ran__item h3{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .2px;
    white-space: nowrap;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 8px 0;
}

.ran__item-info, .ran-fecha {
    color: #999;
    font-size: 14px;
    letter-spacing: .16px;
    line-height: 18px;
}

.ran-fecha {
    float: right;
    margin-right: 15px;
}

.up__item {
    display: block;
    position: relative;
    padding: 15px 0 0;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    min-height: 114px;
}

.up__item-img {
    position: relative;
    left: 0;
    width: 72px;
    float: left;
    margin-top: 5px;
}

.up__item-img img {
    height: 100%;
    width: 72px;
}

.up__item-text {
    padding-left: 96px;
}

.up__item-plat {
    color: #db4084;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: .8px;
    line-height: 14px;
    margin: 0 0 8px 0;
    padding: 0 0 0 96px;
}

.up__tabs h3{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .6px;
    line-height: 24px;
    margin: 0 0 8px 0;
    padding: 0 0 0 96px;
} 

.up__tabs p {
    color: #999;
    font-size: 14px;
    letter-spacing: .16px;
    line-height: 18px;
    padding: 0 0 0 27px;
}

.up__item-info {
    float: left;
}

.up__item-date {
    float: right;
}

/**Footer**/

.site__footer {
    background-color: #002b48;
}

.footer {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    min-height: 310px;
    padding: 60px 0 70px;
}

.footer__left{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-left: 90px;

}

.footer__logo {
    display: block;
    width: 190px;
}

.logo-footer {
    color: #fff;
    font-size: 38px;
}

.logo-footer span {
    color: #db4084;
}

.footer__legal-links > li {
    line-height: 24px;
    color: #fff;
    list-style: none;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 200;
    cursor: pointer;
}


.menu-item {
font-size: 38px;
font-weight: 700px;
color: #fff;
list-style: none;
cursor: pointer;
}

.footer__back-to-top {
    align-self: flex-end;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    color: #db4084;
    padding-right: 90px;
}